---
import type { GetStaticPaths } from "astro";
import { type CollectionEntry, getCollection, render } from "astro:content";
import PostDate from "@/components/blog/PostDate.astro";
import SiteBase from "@/layouts/SiteBase.astro";

export const getStaticPaths: GetStaticPaths = async () => {
  const blogPosts = await getCollection('blog');
  return blogPosts.map(post => ({
    params: { slug: post.id },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<SiteBase title={ post.data.title }>
  <h1>{ post.data.title }</h1>
  <div class="text-sm">
    <PostDate pubDate={ post.data.pubDate } />
  </div>
  <Content />
</SiteBase>
