@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";
@import "./prose.css";

@theme {
  --color-*: initial;

  --font-title: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-serif: "Noto Serif", serif;

  --color-black: #000;
  --color-white: #f5f5f0;
  --color-green: #3c6b4d;
  --color-boldgreen: #294a35;
}
