@layer componets {
  .prose {
    & p {
      margin-block: calc(var(--spacing) * 4);
    }
    & h2 {
      font-size: var(--text-2xl);
      font-weight: var(--font-weight-black);
    }

    & h3 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-bold)
    }

    & h4 {
      font-size: var(--text-lg);
      font-weight: var(--font-weight-bold);
    }

    & h5 {
      font-weight: var(--font-weight-bold);
    }

    & h6 {
      font-weight: var(--font-weight-semibold);
    }

    & h5, h6 {
      font-size: var(--text-base)
    }

    & h1,h2,h3,h4,h5,h6 {
      margin-top: calc(var(--spacing) * 6);
      margin-bottom: calc(var(--spacing) * 2);
    }

    & hr {
      border-top-width: 1px;
      opacity: 40%;
      margin-block: calc(var(--spacing) * 6);
    }

    & strong {
      font-weight: bold;
    }

    & em, blockquote {
      font-style: italic;
      font-family: var(--font-serif);
    };

    & blockquote {
      padding-inline-start: calc(var(--spacing) * 6);
      border-left: 1px solid var(--color-white);
    }
  }
}
