---
import { siteConfig } from "@/site.config";
---

<footer class="mt-10">
  <div class="text-sm font-serif text-medium sm:text-base">
    <small>© {siteConfig.Author} {siteConfig.Year}</small>
  </div>
</footer>
