---
import { siteConfig } from "@/site.config";
---

<footer class="mt-15 mb-5">
  <div class="text-base font-serif text-medium">
    <small>© {siteConfig.Author} {siteConfig.Year}</small>
  </div>
</footer>
