---
import { Icon } from "astro-icon/components";
---

<button id="themeToggle" class="cursor-pointer" type="button">
  <span class="sr-only">Dark Theme</span>
  <Icon name="ph:moon" class="text-3xl hidden dark:block"/>
  <Icon name="ph:sun-dim" class="text-3xl block dark:hidden"/>
</button>

<script is:inline>
  const handleToggleTheme = (() => {
    document.documentElement.classList.toggle('dark');
    const isDark = document.documentElement.classList.contains('dark');
    localStorage.setItem('theme', isDark ? 'dark' : 'light');
  })

  document.getElementById('themeToggle').addEventListener('click', handleToggleTheme);
</script>
