---
import Base from "@/layouts/Base.astro";
import { Icon } from "astro-icon/components";
---

<Base title="404">
  <main class="grid h-screen place-items-center relative">
    <div class="text-center">
      <h1 class="text-5xl font-title font-black">404</h1> 
      <p class="text-base mt-4 font-serif font-medium">página não encontrada.</p>
    </div>
    <a href="/" class="text-base absolute bottom-15"> 
      <Icon name="ph:arrow-bend-up-left" class="inline" /> Voltar para Home
    </a>
  </main>
</Base>
