---
import Base from "@/layouts/Base.astro";
import { Icon } from "astro-icon/components";
---

<Base title="404">
  <main class="grid h-screen place-items-center relative">
    <div class="text-center">
      <h1 class="text-4xl font-title font-black sm:text-5xl">404</h1> 
      <p class="text-sm mt-4 font-serif font-medium sm:text-base">página não encontrada.</p>
    </div>
    <a href="/" class="text-sm absolute bottom-15 sm:text-base"> 
      <Icon name="ph:arrow-bend-up-left" class="inline" /> Voltar para Home
    </a>
  </main>
</Base>
