---
import SiteBase from "@/layouts/SiteBase.astro";
---

<SiteBase title="Home">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur aperiam quibusdam cupiditate ab architecto. Vero quaerat repellendus aspernatur doloribus excepturi dolores praesentium harum? Dignissimos sit totam, at tempore voluptas iure.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, aliquid! Culpa modi mollitia et, voluptates, voluptate ea ratione officia, vel fugiat ex veniam in ipsa inventore tempore suscipit ad tenetur?</p>

</SiteBase>
