---
import PostDate from "@/components/blog/PostDate.astro";

interface Props {
  id: string,
  title: string,
  description: string,
  pubDate: Date,
  tags: string[],
}

const { id, title, description, pubDate, tags } = Astro.props;
---

<article class="@container/post-preview my-5">
  <a href={`/blog/${id}`} class="hover:opacity-80">
    <div class="@md/post-preview:flex @md/post-preview:items-center @md/post-preview:gap-4">
      <h3 class="text-base font-bold whitespace-nowrap text-ellipsis overflow-hidden sm:text-lg">{ title }</h3>
      <div class="flex-1 border-t opacity-20 @max-md/post-preview:hidden"></div>
      <div class="@max-md/post-preview:hidden">
        <PostDate pubDate={ pubDate } />
      </div>
    </div>
    <div class="text-xs font-medium opacity-50 sm:text-sm">
      <em>{ description }</em>
    </div>
    <div class="whitespace-nowrap text-ellipsis overflow-hidden">
      <div class="hidden me-1 after:content-['-'] after:opacity-50 @max-md/post-preview:inline">
        <PostDate pubDate={ pubDate } />
      </div>
      {
        tags.map(tag => (
          <span class="text-sm me-1 font-medium inline">#{ tag }</span>
        ))
      }
    </div>
  </a>
</article>
