---
import PostDate from "@/components/blog/PostDate.astro";

interface Props {
  id: string,
  title: string,
  description: string,
  pubDate: Date,
  tags: string[],
}

const { id, title, description, pubDate, tags } = Astro.props;
---

<article class="my-5">
  <a href={`/blog/${id}`} class="hover:opacity-80">
    <div class="flex items-center gap-4">
      <h3 class="text-base font-bold sm:text-lg">{ title }</h3>
      <div class="flex-1 border-t opacity-20"></div>
      <PostDate pubDate={ pubDate } />
    </div>
    <div class="text-xs font-medium opacity-50 sm:text-sm">
      <em>{ description }</em>
    </div>
    <div>
      {
        tags.map(tag => (
          <span class="text-xs me-1 font-medium sm:text-sm">#{ tag }</span>
        ))
      }
    </div>
  </a>
</article>
