---
import PostDate from "@/components/blog/PostDate.astro";

interface Props {
  id: string,
  title: string,
  description: string,
  pubDate: Date,
  tags: string[],
}

const { id, title, description, pubDate, tags } = Astro.props;
---

<article class="my-5">
  <a href={`/blog/${id}`} class="hover:opacity-90">
      <div class="flex items-center gap-4">
        <span class="font-medium">{ title }</span>
        <div class="flex-1 border-t opacity-20"></div>
        <PostDate pubDate={ pubDate } />
      </div>
      <div class="text-sm font-light opacity-75">
        <em>{ description }</em>
      </div>
      <div>
        {
          tags.map(tag => (
            <span class="me-1 text-sm">#{ tag }</span>
          ))
        }
      </div>
  </a>
</article>
