---
import Head from "@/components/layout/Head.astro";
import { siteConfig } from "@/site.config";

import "@/styles/global.css";

interface Props {
  title: string
}

const { title } = Astro.props;
---

<html lang={siteConfig.Lang} class="dark">
	<head>
    <Head title={title} />
	</head>
  <body class="transition-colors duration-500 bg-green-50 text-green-900 dark:bg-green-950 dark:text-green-50">
    <slot></slot>
	</body>
</html>
