---
import Head from "@/components/layout/Head.astro";
import { siteConfig } from "@/site.config";

import "@/styles/global.css";

interface Props {
  title: string
}

const { title } = Astro.props;
---

<html lang={siteConfig.Lang}>
	<head>
    <Head title={title} />
	</head>
  <body class="bg-white text-green dark:bg-boldgreen dark:text-white">
    <slot></slot>
	</body>
</html>
