---
import ogs from 'open-graph-scraper-lite';

import type { linkCardMetadataProps } from '@/types/components.types';

interface Props {
  url: string
}
const { url } = Astro.props;
let metadata: linkCardMetadataProps;

try {
  const response = await fetch(url);
  const html = await response.text();

  const { result } = await ogs({ html });
  metadata = {
    title: result.ogTitle || 'Sem título',
    description: result.ogDescription,
    image: result.ogImage?.[0]?.url,
    siteName: result.ogSiteName || new URL(url).hostname
  }

} catch (error) {
  console.log(error);
}
---

<a href={ url } target="_blank" class="w-full flex flex-col gap-2 p-3 pb-6 my-4 border rounded-sm border-green-900/30 bg-green-900/10 dark:border-green-50/30 dark:border-green-50/10">
  {metadata.image && (
    <img class="w-full h-auto rounded-sm" src={ metadata.image } alt={ metadata.title } loading="lazy">
  )}
  <div class="px-2 flex flex-col">
    <span class="font-bold">{ metadata.title }</span>
    <span class="text-sm text-green-900/50 dark:text-green-50/50">{ metadata.description }</span>
    <span class="text-xs text-green-900/50 dark:text-green-50/50">{ metadata.siteName }</span>
  </div>
</a>
